<div class="logo-container">
    <img id="logo index-title" class="index-logo" src="https://s3.amazonaws.com/eda-quick-draw/assets/quick-draw-logo.png">
</div>

<div class="pure-g  animated fadeIn">
  <div class="center" id="logout-holder">
    
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="pure-form">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="pure-form">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="pure-form">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="pure-form">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="devise-button actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  </div>
</div>

<!-- <div class="bottom"> -->
  <div class="pure-g links-holder animated fadeIn bottom">
    
      <%= render "devise/shared/links" %>  
    
  </div>
<!-- </div> -->