<div class="pure-g">
	<h1 id="index-title">EDA QUICKDRAW</h1>
</div>

	<table class="pure-table">
	    <thead class="table-head">
	        <tr>
	            <th>#</th>
	            <th>Player Name</th>
	            <th>Score</th>
	        </tr>
	    </thead>

	    <tbody>
			<% @top_10_players.each do |player| %>
			<% i = 1 %>
	      <tr>
	        <td><%= i %></td>
	        <td><%= player[0] %></td>
	        <td><%= player[1] %></td>
	      </tr>
			<% i += 1 %>
			<% end %>
	    </tbody>
	</table>

<div class="pure-g">
	<div id="button-holder" class="">
		<%= button_to "start the game!", game_path, method: :get, class: 'pure-u-1-1 button-xlarge pure-button'  %>
		<%= button_to 'sign out', destroy_player_session_path, method: :delete, class: 'pure-u-1-1 button-xlarge pure-button'  %>
	</div>
</div>

