
	<div class="logo-container animated fadeInLeft">
		<img id="logo index-title" class="index-logo" src="assets/quick-draw-logo.png">
	</div>

		<% if @message %>
				<table class="previously-on-quick-draw pure-table animated fadeInRight">
				<!-- <h3 id="scores-title">Your last scores:</h3> -->
		    <thead class="table-head">
		        <tr>
		            <th>Your Last Score</th>
		            <th>Your High Score</th>
		        </tr>
		    </thead>

	        <tbody>
	          <tr>
	            <td><%= @message[0] %></td>
	            <td><%= @message[1] %></td>
	          </tr>
	        </tbody>
	    </table>

		<% end %>
	<div id="everything-holder" class="animated fadeIn">

	<div class="pure-g">
		<h2 id="scores-title">Leaderboard:</h2>
	</div>

		<table class="pure-table">
		    <thead class="table-head">
		        <tr>
		            <th>#</th>
		            <th>Player Name</th>
		            <th>Score</th>
		        </tr>
		    </thead>

		    <tbody>
				<% i = 1 %>
				<% @top_10_players.each do |player| %>
		      <tr>
		        <td><%= i %></td>
		        <td><%= player[0] %></td>
		        <td><%= player[1] %></td>
		      </tr>
					<% i += 1 %>
				<% end %>
		    </tbody>
		</table>

		<div class="pure-g">
			<div class="button-holder">
				<%= button_to "start the game!", game_path, method: :get, class: 'pure-u-1-1 button-xlarge pure-button'  %>
				<%= button_to 'sign out', destroy_player_session_path, method: :delete, class: 'pure-u-1-1 button-xlarge pure-button'  %>
			</div>
		</div>
		
	</div>
