<!DOCTYPE html>
<html>
<head>
  <title>EdaQuickDraw</title>
	<script src="assets/jquery-1.11.3.min.js"></script>
  <%= javascript_include_tag 'http://code.createjs.com/createjs-2013.12.12.min.js' %>

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <link rel="stylesheet" href="assets/animate.min.css">

  <%= csrf_meta_tags %>
</head>
<body>
<div id="main" class="m-scene">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
<%= yield %>

</div>
</body>
</html>
